@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#121214] text-zinc-500 bg-galaxy bg-cover bg-no-repeat;
  -webkit-font-smoothing: antialised;
}

@media(max-width: 1000px) {
  html {
    font-size: 93.75%; 
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.modalCreateAd {
  @apply 
     fixed z-[9998] bg-[#2A2634] text-white shadow-lg shadow-black/25 rounded-lg
    py-10 px-5 md:px-10 
    top-1/2 left-1/2 
    -translate-x-1/2 -translate-y-1/2  
    w-[calc(100%-16px)] md:w-[480px] h-[95%] md:h-auto 
    flex flex-col  justify-start overflow-auto;
}

.modalConnect {
  @apply 
    fixed z-[9999] bg-[#2A2634] text-white shadow-lg shadow-black/25 rounded-lg
    py-10 px-10 
    top-1/2 left-1/2 
    -translate-x-1/2 -translate-y-1/2  
    w-[calc(100%-48px)] md:w-[480px] ;
}

.react-multi-carousel-list {
    position:unset !important;   
}

.react-multiple-carousel__arrow {
  position:absolute !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(-3% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(-3% + 1px) !important;
}

::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4d4d57;
   border-radius: 20px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}